.bx-yellow .btn.btn-default {
    background-color: #ffcc01 !important;
    border-color: #ffcc01 !important;
    color: #000 !important;
    text-decoration: none !important;
}
.content-block {    min-height: 100vh;}